.navigation{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}
.navigation_list{
  margin-top: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .navigation_list_main{
    text-decoration: none;
    width: 70%;
    min-width: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 4%;
    cursor: pointer;
    .navigation_list_main_img{
      width: 70px;
      height: 70px;
      background-image: url("../images/home.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: bottom center;
      margin-right: 10px;
    }
    .navigation_list_main_text{
      font-size: 30pt;
      font-weight: 800;
      margin-bottom: -10px;
      color: #454545
    }
  }
  .navigation_list_btn{
    width: 70%;
    min-width: 120px;
    height: 60px;
    border-radius: 2px;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    cursor: pointer;
    transition: .2s;
    color: #454545;
    text-decoration: none;
  }
  .navigation_list_btn:hover{
    transition: .2s;
    color: #FFF;
    background-color: rgba(0,0,0,0.4);
  }
  .navigation_list_btns{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
    min-width: 120px;
    height: 60px;


    margin-bottom: 2%;

    div{
      width: calc(100% / 4 - 6px);
      min-width: 26px;
      height: 60px;
      border-radius: 2px;
      background-color: #F1F1F1;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: .2s;
      color: #454545;
      text-decoration: none;
      font-size: 18pt;
    }
    div:hover{
      transition: .2s;
      color: #FFF;
      background-color: rgba(0,0,0,0.4);

    }
  }
}
.navigation_logo{
  width: 100%;
  height: 100px;
  background-image: url("../images/skillsafe.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 70%;
}